@font-face {
  font-family: "font01661f50354ecd0a3560ac450ecf43d3";

  src: url("https://nomail.com.ua/files/eot/01661f50354ecd0a3560ac450ecf43d3.eot?#iefix")
      format("embedded-opentype"),
    url("https://nomail.com.ua/files/woff/01661f50354ecd0a3560ac450ecf43d3.woff")
      format("woff"),
    url("https://nomail.com.ua/files/woff2/01661f50354ecd0a3560ac450ecf43d3.woff2")
      format("woff2");
}

@font-face {
  font-family: "BellMT-Regular";
  src: local("BellMT-Regular"),
    url("https://nomail.com.ua/files/woff/01661f50354ecd0a3560ac450ecf43d3.woff")
      format("woff");
}

@font-face {
  font-family: "MinionPro-Regular";
  src: local("MinionPro-Regular"),
    url("https://nomail.com.ua/files/woff/38711b5bb243e894a6d58c8755bb034a.woff")
      format("woff");
}

@font-face {
  font-family: "MinionPro-Bold";
  src: local("MinionPro-Bold"),
    url("https://nomail.com.ua/files/woff/d6304745c9b4afba6348492f3261519f.woff")
      format("woff");
}

body {
  margin: 0;
  background: url(background_main.png) center no-repeat;
}

/* main */

.global-block {
  margin-left: auto;
  margin-right: auto;
  align-content: center;
  max-width: 1300px;
  max-height: 826px;
}

/* header */

.header {
  width: 100%;
  height: 70px;
  background-color: rgb(140, 10, 13);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  color: rgb(248, 189, 111);
}

.logo {
  margin-left: 67px;
}

.menu {
  font-family: "MinionPro-Bold";
  padding-top: 14px;
  padding-left: 60px;
  color: rgb(248, 189, 111);
}

.menu-link {
  margin-right: 32px;
  text-decoration: none;
  color: rgb(248, 189, 111);
}

.language {
  margin-right: 68px;
}

.EN {
  margin-top: 30px;
  background: url(English.png) no-repeat;
  padding: 0px 0px 0px 35px;
  list-style: none;
}

/* block-img */

.main {
  height: 390px;
}

.main-background {
  text-align: center;
  height: inherit;
}

.main-img {
  position: relative;
  top: 26px;
}

.main-roshen {
  position: relative;
  top: -300px;
  font-size: 59px;
  display: flex;
}

.main-roshen-one {
  font-family: BellMT-Regular;
  margin-left: auto;
  margin-right: 10px;
}

.main-roshen-two {
  font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L",
    "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-right: auto;
  margin-left: 10px;
}

.main-more {
  position: relative;
  text-align: center;
  top: -333px;
  font-size: 23px;
}

.main-more-text {
  top: -46px;
  position: relative;
  font-weight: 700;
}

.main-ways {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 240px;
}

.main-more-text-link {
  text-decoration: none;
}

.main-right {
  z-index: 1;
  margin-right: 100px;
}

.main-left {
  z-index: 1;
  margin-left: 100px;
}

.main-dot {
  position: relative;
  bottom: 210px;
}

.main-dot-img2 {
  margin-left: 5px;
  margin-right: 5px;
}

/* info */

.info-container-headers {
  font-family: "MinionPro-Bold";
  display: flex;
  align-items: flex-start;
  font-weight: 700;
  text-align: justify;
}

.part-1 {
  width: 25%;
  margin-left: 65px;
  margin-right: 30px;
}

.part-2 {
  width: 25%;
  margin-right: 30px;
}

.part-3 {
  width: 25%;
  margin-right: 30px;
}

.part-4 {
  width: 25%;
  margin-right: 65px;
}

.info-container-data {
  font-family: "MinionPro-Regular";
  text-align: justify;
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  margin-top: 40px;
}

.data-1 {
  width: 25%;
  margin-left: 65px;
  margin-right: 30px;
}

.data-2 {
  width: 25%;
  margin-right: 30px;
}

.data-3 {
  width: 25%;
  margin-right: 30px;
}

.data-4 {
  width: 25%;
  margin-right: 65px;
}

/* footer */

.footer {
  width: 100%;
  height: 70px;
  background-color: rgb(140, 10, 13);
}

.footer-container {
  font-family: "MinionPro-Bold";
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(248, 189, 111);
  line-height: 25px;
}

.site {
  margin-left: 65px;
  margin-right: 91px;
}

.site-link {
  text-decoration: none;
  color: rgb(248, 189, 111);
}

.address {
  margin-right: 80px;
  width: 17%;
}

.tel {
  width: 15%;
  margin-right: 106px;
}

.email {
  width: 15%;
}

.social {
  margin-right: 65px;
  padding-left: 9px;
  justify-content: space-between;
}

.facebook {
  margin-right: 5px;
}

/* @font-face {
  font-family: 'font01661f50354ecd0a3560ac450ecf43d3';
      
      src:    url('https://nomail.com.ua/files/eot/01661f50354ecd0a3560ac450ecf43d3.eot?#iefix') format('embedded-opentype'),
              url('https://nomail.com.ua/files/woff/01661f50354ecd0a3560ac450ecf43d3.woff') format('woff'),
              url('https://nomail.com.ua/files/woff2/01661f50354ecd0a3560ac450ecf43d3.woff2') format('woff2');
  } */

/*  @font-face {
    font-family: ('MyriadPro-Regular'),
  
  src: url('fonts/MyriadPro-Regular.ttf ') format("truetype");
  } */
